// Place all the styles related to the Product controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-wrapper {
  border: 1px solid silver;
}

.navbar-text {
  color: #525252 !important;
}

.container {
  margin-top: 20px;
}

.alert-custom, .notice {
  background-color: #9c1f00;
  padding: 9px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 50%;
  color: white;
}

.notice {
  background-color: #0b9d40;
}

.table {
  width: 25%;
  margin-left: 10px;
}

textarea {
  width: 250px;
  height: 90px !important;
}
