
%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %a.navbar-brand{:href => "/"} Shopping
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        .navbar-text
          = render 'layouts/cart_items'
      %ul.nav.navbar-nav.navbar-right
        %li= link_to 'Logout', destroy_user_session_path, { method: 'delete' }
